<div
  class="bg-login w-100 p-4 d-flex justify-content-center align-items-center"
>
  <div class="form-login p-4 d-flex justify-content-center flex-column">
    <img
      src="https://www.crt4.com.br/assets/imagens/logo_crt4_cor.png"
      class="mb-5"
    />
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
          ><i class="fa-solid fa-users"></i
        ></span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>
</div>
